@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    background-color: rgb(223, 223, 223);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.phraseFocus {
    font-family: 'Poiret One';
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
    color: rgb(49, 49, 49);
    height: 650px;
}

.buttonFocus {
    text-align: center;
    height: 75px;
}

.submitButtonFocus {
    text-align: center;
    height: 100%;
}

#phraseButton{
    font-family: 'Poiret One';
    font-weight: 900;
    font-size: x-large;
    width: 15%;
    min-width: 200px;
    height: 100%;
    color: rgb(49, 49, 49);
}

#submitButton {
    font-family: 'Poiret One';
    font-weight: 900;
    font-size: x-large;
    width: 15%;
    min-width: 200px;
    height: 100%;
    color: rgb(49, 49, 49);
}

.phraseInput {
    justify-content: center;
    display: flex;
}

textarea {
    resize: none;
}

#phraseInputBox {
    width: 90%;
    height: 250px;
}

footer {
    font-family: 'Poiret One';
    font-weight: 850;
    font-size: large;
    margin-top: auto;
    text-align: center;
    color: rgb(102, 102, 102);
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: darkgrey;
}